<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>919099099815-s6kvvhqojo9it5grtg7d4qt8jvt60jft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919099099815-s6kvvhqojo9it5grtg7d4qt8jvt60jft</string>
	<key>API_KEY</key>
	<string>AIzaSyAmj1CDfH3U6pZt6qjobKRpAmHvxjI6Y60</string>
	<key>GCM_SENDER_ID</key>
	<string>919099099815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>markbrown.turntable</string>
	<key>PROJECT_ID</key>
	<string>turntable-a0a6f</string>
	<key>STORAGE_BUCKET</key>
	<string>turntable-a0a6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919099099815:ios:e86ce2754819efde</string>
	<key>DATABASE_URL</key>
	<string>https://turntable-a0a6f.firebaseio.com</string>
</dict>
</plist>